:root {
    --primary-color: #06C167;
    --primary-dark: #009e55;
    --text-dark: #1f1f1f;
    --text-gray: #666666;
    --white: #ffffff;
    --border-color: #e5e5e5;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--text-dark);
    line-height: 1.6;
    background-color: var(--white);
}

h1,
h2,
h3,
h4 {
    color: var(--text-dark);
    line-height: 1.2;
    margin-bottom: 1rem;
}

h1 {
    font-size: 3.5rem;
    font-weight: 700;
}

h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

p {
    color: var(--text-gray);
    margin-bottom: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 20px;
}

.button {
    display: inline-flex;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--white);
    padding: 20px 30px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 15px rgba(0, 192, 104, 0.3);
}

.button:hover {
    background-color: var(--primary-dark);
}

.button img {
    margin-left: 20px;
}

.button-outline {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    padding: 8px 20px;
    box-shadow: none;
}

.button-outline:hover {
    background-color: var(--primary-color);
    color: var(--white);
}

.section-padding {
    padding: 80px 0px;
}

.text-center {
    text-align: center;
    margin-bottom: 50px;
}

.sub-title {
    color: var(--text-dark);
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 25px;
    display: block;
}

header {
    padding: 20px 0;
    position: sticky;
    top: 0;
    background-color: #F3FCF7;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.7rem;
    color: var(--primary-color);
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    font-size: 0.9rem;
    color: var(--text-gray);
    font-weight: 500;
    position: relative;
    padding-bottom: 5px;
}

.nav-links a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    transition: width 0.3s ease-in-out;
}

.nav-links a:hover {
    color: var(--primary-color);
}

.nav-links a:hover::after {
    width: 100%;
}

#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    padding: 5px 10px;
    border-radius: 5px;
}

.hero {
    background-image: linear-gradient(to bottom, #F3FCF7 0%, #F3FCF7 100%);
    padding: 60px 0 0;
    overflow: hidden;
}

.hero-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 100px;
}

.hero-content h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.hero-image {
    position: relative;
    z-index: 1;
    text-align: center;
}

.hero-image img {
    border-radius: 20px;
    width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.badge {
    position: absolute;
    background: var(--white);
    padding: 5px 15px;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.8rem;
    font-weight: 600;
    z-index: 2;
}

.badge-rating {
    top: 45%;
    left: -100px;
}

.badge-quality {
    bottom: 60%;
    right: 3%;
}

.user-thumb {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.badge-polcadot {
    border-radius: 0px;
    bottom: 0%;
    right: -12%;
    background: none;
}

.logo-bar {
    position: relative;
    top: -130px;
    right: 330px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.features-bar {
    padding: 40px 0;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.features-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.feature-item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.feature-icon {
    width: 50px;
    height: 50px;
    background-color: #eefbf5;
    color: var(--primary-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.feature-text h4 {
    font-size: 0.95rem;
    font-weight: 500;
    margin-bottom: 0rem;
}

.feature-text span {
    font-size: 0.8rem;
    color: var(--text-gray);
}

.benefit-section {
    background-color: #ffffff;
}

.two-col-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
}

.text-column img {
    margin-left: -50px;
}

.text-column h2 {
    margin-top: -180px;
}

.text-column .button img {
    margin-left: 20px;
}

.benefit-list {
    margin-top: 100px;
}

.benefit-list li {
    margin-bottom: 15px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    color: var(--text-dark);
    font-weight: 500;
}

.benefit-list li img {
    color: var(--primary-color);
    margin-right: 15px;
    font-size: 1.1rem;
}

.stars-stats {
    display: flex;
    gap: 40px;
    margin: 100px 0px;
}

.stat-item h3 {
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 5px;
    text-align: center;
}

.stat-item span {
    font-size: 0.8rem;
    color: var(--text-gray);
}

.variety-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid var(--border-color);
}

.variety-card {
    height: 300px;
    overflow: hidden;
    position: relative;
}

.variety-card.text-card {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fcfcfc;
    border: 2px solid var(--primary-color);
}

.variety-card.img-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.discover-link {
    background-color: #E6F9F0;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 0.9rem;
    margin-top: auto;
    padding: 10px 10px;
    display: inline-flex;
    align-items: center;
    width: 160px;
}

.discover-link img {
    margin-left: 10px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.product-card {
    border: 1px solid var(--border-color);
    padding: 30px 20px;
    text-align: center;
    transition: 0.3s;
}

.product-card.active {
    border: 2px solid var(--primary-color);
}

.product-card:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    border-color: transparent;
}

.product-card h4 {
    font-weight: 400;
    font-size: 1.2rem;
}

.product-image-background {
    background-color: #f4c01e;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.product-image-background.pink {
    background-color: #f3dcf1;
}

.rating-stars {
    color: var(--primary-color);
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.price {
    margin: 10px 0 20px;
    font-weight: 600;
}

.price .old {
    color: #ccc;
    text-decoration: line-through;
    margin-right: 10px;
}

.price .new {
    color: var(--primary-color);
    font-size: 1.2rem;
}

.cta-banner {
    background-image: url('./images & icons/Rectangle 8.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    padding: 100px 0px;
    border-radius: 20px;
    overflow: hidden;
}

.cta-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.cta-content {
    position: relative;
    z-index: 2;
    text-align: center;
}

.cta-content h2 {
    color: var(--white);
    font-size: 2.5rem;
    margin-bottom: 30px;
}

footer {
    padding: 60px 0 20px;
    background: var(--white);
}

.footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    gap: 40px;
    margin-bottom: 60px;
}

.footer-col .logo {
    margin-bottom: 20px;
}

.footer-col p {
    font-size: 1rem;
    font-weight: 500;
}

.footer-col h4 {
    margin-bottom: 20px;
    font-size: 1.1rem;
    font-weight: 500;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    color: var(--text-gray);
    font-size: 1rem;
    font-weight: 500;
}

.social-links {
    margin-top: 20px;
}

.subscribe-form {
    display: flex;
    margin-top: 20px;
}

.subscribe-form input {
    padding: 12px;
    border: 1px solid #eee;
    background: #f5f5f5;
    flex: 1;
    outline: none;
}

.subscribe-form button {
    background: var(--primary-color);
    color: var(--white);
    border: none;
    padding: 0 20px;
    font-size: 0.9rem;
    cursor: pointer;
}

.copyright {
    text-align: center;
    padding-top: 20px;
    color: var(--text-gray);
    font-size: 1rem;
    font-weight: 500;
}

@media only screen and (max-width:992px) {

    .hero-wrapper,
    .two-col-grid {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .hero-content {
        order: 1;
        text-align: center;
    }

    .hero-image {
        order: 2;
        margin-top: 40px;
    }

    .hero-content p,
    .hero-content h1 {
        margin-left: auto;
        margin-right: auto;
    }

    .hero-content h1 {
        font-size: 3rem;
    }

    .badge-rating {
        left: -20px;
    }

    .stars-promo-container .two-col-grid {
        display: flex;
        flex-direction: column;
    }

    .stars-promo-container .image-col {
        order: 2;
    }

    .variety-grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-grid {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .text-column img {
        margin-left: 0;
    }

    .text-column h2 {
        margin-top: 0;
        font-size: 2rem;
    }

    .benefit-list {
        margin-top: 40px;
    }

    .benefit-list li {
        margin-left: 0;
        justify-content: center;
    }

    .text-column {
        text-align: center;
    }

    .benefit-list li {
        justify-content: flex-start;
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
    }
}

@media only screen and (max-width:768px) {
    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--white);
        padding: 20px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
        text-align: center;
        z-index: 999;
    }

    #menu-toggle:checked~.nav-links {
        display: flex;
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    .container {
        padding: 0 15px;
    }

    .hero {
        padding-top: 40px;
    }

    .hero-wrapper {
        gap: 40px;
    }

    .logo-bar {
        position: static;
        top: auto;
        right: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 40px;
    }

    .logo-bar img {
        max-width: 120px;
    }

    .logo-bar img:nth-child(2) {
        grid-column-start: 3;
    }

    .logo-bar img:nth-child(3) {
        grid-column-start: 2;
    }

    .features-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .feature-item {
        width: 100%;
        display: grid;
        justify-content: center;
        padding: 20px;
        border: none;
    }

    .feature-item .feature-icon {
        margin-left: 25px;
    }
    .feature-item .feature-text {
        text-align: center;
    }
    .benefit-section .text-column h2 {
        margin-top: -150px;
    }
    .benefit-section .benefit-list {
        margin-top: 80px;
        margin-left: 80px;
    }
    .stars-promo-container .two-col-grid {
        display: flex;
    }

    .stars-promo-container .two-col-grid .image-col {
        order: 1;
    }

    .stars-promo-container .two-col-grid .text-column {
        order: 2;
    }
    .stars-promo-container .two-col-grid .text-column img {
        margin-top: -50px;
        margin-left: -50px;
    }
    .stars-promo-container .two-col-grid .text-column h2 {
        margin-top: -130px;
    }
    .stars-promo-container .two-col-grid .text-column .button {
        width: 220px;
    }
    .stars-promo-container .two-col-grid .text-column .button img {
        margin-top: 3px;
        margin-left: 20px;
    }
    .variety-grid-container {
        display: flex;
        flex-direction: column;
        border: none;
    }

    .variety-card {
        height: auto;
        min-height: 250px;
    }

    .variety-card:nth-child(3) {
        width: 95%;
        margin-left: 12px;
    }

    .variety-card:nth-child(5) {
        order: 6;
    }

    .variety-card:nth-child(6) {
        order: 5;
        width: 95%;
        margin-left: 12px;
    }

    .variety-card:nth-child(7) {
        order: 8;
    }

    .variety-card:nth-child(8) {
        order: 7;
        width: 95%;
        margin-left: 12px;
    }

    .section-padding .container .sub-title,
    .section-padding .container h2 {
        text-align: center;
    }

    .products-grid {
        grid-template-columns: 1fr;
    }

    .footer-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .subscribe-form {
        flex-direction: column;
        gap: 10px;
    }

    .subscribe-form button {
        padding: 12px;
        width: 100%;
    }

    .cta-content h2 {
        font-size: 1.5rem;
    }

    .cta-banner {
        padding: 60px 0;
    }

    .badge {
        padding: 5px 10px;
        font-size: 0.7rem;
    }

    .user-thumb {
        width: 30px;
        height: 30px;
    }

    .badge-rating {
        top: 470px;
        left: 100px;
    }

    .badge-quality {
        bottom: 10px;
        right: 105px;
    }

    .stars-stats {
        flex-direction: column;
        gap: 30px;
        margin: 50px 0;
    }

    .social-links img {
        margin: auto;
    }
}

@media only screen and (max-width: 300px) {
    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--white);
        padding: 20px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
        text-align: center;
        z-index: 999;
    }

    #menu-toggle:checked~.nav-links {
        display: flex;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    .container {
        padding: 0 10px;
    }

    .hero {
        padding-top: 30px;
    }

    .hero-wrapper {
        gap: 30px;
    }

    .logo-bar {
        position: static;
        top: 0px;
        right: 0px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-top: 30px;
    }

    .logo-bar img {
        max-width: 80px;
    }
    .logo-bar img:nth-child(2) {
        grid-column-start: 3;
    }

    .logo-bar img:nth-child(3) {
        grid-column-start: 2;
    }

    .features-grid {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .feature-item {
        width: 100%;
        display: grid;
        justify-content: center;
        padding: 15px;
        border: none;
    }
    .feature-item .feature-icon {
        margin-left: 25px;
    }
    .feature-item .feature-text {
        text-align: center;
    }
    .benefit-section .benefit-list {
        margin-top: 40px;
        margin-left: 2px;
    }
    .stars-promo-container .text-column h2 {
        margin-top: -80px;
    }

    .stars-promo-container .text-column .benefit-list {
        margin: 30px 20px;
    }

    .stars-promo-container .two-col-grid {
        display: flex;
    }

    .stars-promo-container .two-col-grid .image-col {
        order: 1;
    }

    .stars-promo-container .two-col-grid .text-column {
        order: 2;
    }

    .variety-grid-container {
        display: flex;
        flex-direction: column;
        border: none;
    }

    .variety-card {
        height: auto;
        min-height: 200px;
    }

    .variety-card:nth-child(3) {
        width: 95%;
        margin-left: 8px;
    }

    .variety-card:nth-child(5) {
        order: 6;
    }

    .variety-card:nth-child(6) {
        order: 5;
        width: 95%;
        margin-left: 8px;
    }

    .variety-card:nth-child(7) {
        order: 8;
    }

    .variety-card:nth-child(8) {
        order: 7;
        width: 95%;
        margin-left: 8px;
    }

    .section-padding .container .sub-title,
    .section-padding .container h2 {
        text-align: center;
    }

    .products-grid {
        grid-template-columns: 1fr;
    }

    .footer-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .subscribe-form {
        flex-direction: column;
        gap: 8px;
    }

    .subscribe-form button {
        padding: 10px;
        width: 100%;
    }

    .cta-content h2 {
        font-size: 1.2rem;
    }

    .cta-banner {
        padding: 40px 0;
    }

    .badge {
        padding: 4px 8px;
        font-size: 0.6rem;
    }

    .user-thumb {
        width: 25px;
        height: 25px;
    }

    .badge-rating {
        top: 285px;
        left: 60px;
        z-index: 999;
        width: 170px;
    }

    .badge-quality {
        bottom: 0px;
        right: 50px;
        z-index: 999;
        width: 170px;
    }

    .stars-stats {
        flex-direction: column;
        gap: 20px;
        margin: 30px 0;
    }

    .social-links img {
        margin: auto;
    }
}